<h1> INDEX </h1>
<h2> SUB-HEADER </h2>


<div class="hero">
  <br/>
  <div class="text-container col-xs-10 col-xs-offset-1">
    <br/>
  <h3>Learn Magic from the Pros</h1>
    <br/>
  <h4>I'm an illusionist, Michael.</h2>
    <br/><br/><br/>
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br/><br/>
  </div>

</div>
