<div class="booyah-box col-xs-10 col-xs-offset-1">

<h1>Edit Course Information</h1>

<%= @course.title %>

<%= render 'form', course: @course %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', instructor_courses_path %>

</div>
