@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Lato|Old+Standard+TT|PT+Sans|Ubuntu|Vollkorn');


/* font-family: 'Vollkorn', serif;
font-family: 'Lato', sans-serif;
font-family: 'Old Standard TT', serif;
font-family: 'Droid Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.navbar {
  border-radius: 0;
  font-family: "Vollkorn", serif;
  font-weight: 200;
  box-shadow: 0px 1px 2px #2a2a2a;
  background:url('#');
  background: url('ricepaper.png');
}

a.navbar-brand {
  font-family: "Old Standard TT", sans-serif;
  font-weight: 100;
}

body {
  background: url('background.png');
  background-attachment: fixed;
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.clr {
  clear:both;
}

h3, h4, h5, h6, .navbar {
  margin:0;
}

h1 {
  font-size: 60px;
  margin-top: 15px;
  margin-bottom: 4px;
}

h2 {
  margin-bottom: 8px;
}

h1, h2 {
  font-family: "Old Standard TT", sans-serif;
  color: black;
  text-align: center;
  font-style: bold;
  box-shadow: 0px 1px 2px #2a2a2a;
}

p, h3, h4{
  font-family: "Vollkorn", serif;
}

.btn {
  border-radisu: 0;
}

.hero {
  background: url('ricepaper.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:370px;
  box-shadow: 0px 1px 2px #2a2a2a;
}

.home-column {
  background: url('ricepaper.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 1px 2px #2a2a2a;
  font-family: "Old Standard TT", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-container {
  background: white;
  color: black;
}

.booyah-box {
  margin-top: 20px;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: relative;
  background: rgba(0, 0, 0, 0);
}

.footer-text {
  font-family: "Old Standard TT", sans-serif;
  color: black;
  text-align: center;
  bottom: 0;
  height:60px;
  margin-top: 20px;
  font-size: 15px;
  padding:10px 0px;
  font-family: "Vollkorn", serif;
  a {
    color: white;
  }

}
